body {
  font-size: 16px;
  font-family: "Karla", sans-serif;
}

.body-container {
  margin-right: auto;
  margin-left: auto;
  max-width: 600px;
  box-shadow: 0 4px 80px rgba(0, 0, 0, 0.493);
  border-radius: 7px;
}

main {
  padding: 30px;
}

main h1 {
  color: hsl(179, 62%, 43%);
}

main h2 {
  color: hsl(71, 73%, 54%);
}

main p {
  color: hsl(218, 22%, 67%);
  line-height: 1.5em;
}

.container {
  display: flex;
}

.subscription {
  background-color: rgb(43, 179, 177);
  padding: 20px 30px;
  border-radius: 0px 0px 0px 7px;
  width: 50%;
  /* flex-grow: 1; */
}

.contact h2,
.subscription h2 {
  color: hsl(204, 43%, 93%);
  font-size: 1rem;
}

.contact p {
  margin: 0.5em;
  color: hsl(204, 43%, 93%);
  font-size: 0.9rem;
  line-height: 1.3rem;
}

.price {
  font-weight: 700;
  color: hsl(204, 43%, 93%);
  font-size: 2rem;
}

.day_price {
  color: hsl(204, 43%, 93%);
}

.periode {
  color: hsla(203, 44%, 93%, 0.678);
  font-size: 0.9rem;
}

.signup_btn {
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 4% 12%;
  background-color: hsl(71, 73%, 54%);
  border-radius: 3px;
  color: hsl(204, 43%, 93%);
  box-shadow: 10px 10px 28px -15px rgba(0, 0, 0, 0.75);
}

.contact {
  background-color: rgb(74, 190, 189);
  padding: 20px 30px;
  border-radius: 0px 0px 7px 0px;
  width: 50%;
  /* flex-grow: 1; */
}

li {
  list-style: none;
  color: hsl(204, 43%, 93%);
}

/* Mobile View */
@media (max-width: 375px) {
  .container {
    flex-wrap: wrap;
  }

  .subscription {
    width: 100%;
    border-radius: 0px 0px;
  }

  .contact {
    width: 100%;
    border-radius: 0px 0px 7px 7px;
  }

  main h1 {
    font-size: 21px;
  }

  main h2 {
    font-size: 17px;
  }

  main p {
    font-size: 15px;
  }
}
